.page-content {
  max-width: 1200px;

  margin: 0 auto;
  padding: 100px 0;
}

.page-content__description {
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #00A6E4;

  margin: 0;
  margin-bottom: 100px;
}
